In [1]:
import torch
import numpy as np
from load_data import *
train_data_dir = "/opt/ml/level2-klue-level2-nlp-03/baseline/dataset/train/train.csv"
train_dataset = load_data(train_data_dir)

In [12]:
print(train_dataset.nunique())
print(32470-28803)

id                32470
sentence          28803
subject_entity    12052
object_entity     10195
label                30
dtype: int64
3667

In [2]:
train_dataset.head()

,id,sentence,subject_entity,object_entity,label
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,'비틀즈','조지 해리슨',no_relation
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,'민주평화당','대안신당',no_relation
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,'광주FC','한국프로축구연맹',org:member_of
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,'아성다이소','박정부',org:top_members/employees
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,'요미우리 자이언츠','1967',no_relation

In [3]:
train_dataset[train_dataset.duplicated(['sentence'])]

,id,sentence,subject_entity,object_entity,label
229,229,자의왕후는 문무왕과의 사이에서 소명태자와 훗날 신문왕이 되는 정명태자를 낳았다.,'신문왕','문무왕',per:parents
612,612,"이후 새천년민주당은 다른 세력들과 이합집산을 거듭한 끝에 더불어민주당이 되고, 통합...",'민주당','민중당',no_relation
830,830,2016년 10월 30일 FC 안양과의 최종전서 승리를 거두며 2016년 K리그 챌...,'안산 무궁화 축구단','2016년',no_relation
948,948,푸블리우스 아일리우스 트라야누스 하드리아누스(76년 1월 24일~138년 7월 10...,'트라야누스','로마 제국',per:origin
998,998,일본 총독이 수작(受爵) 승인서를 내밀고 도장 찍기를 강요하니까 그 아들 이직각(李...,'이기원','이봉의',per:parents
...,...,...,...,...,...
32451,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...",'정종원','정재학',per:parents
32454,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,'선덕여왕','진덕여왕',no_relation
32463,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.",'루이 14세','루이 13세',per:other_family
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,'유기준','부산 서구·동구',per:employee_of
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...",'최시형','손병희',per:colleagues

In [15]:
# 1번만 쓰인 애들만 가져오게됨!
modified_dataset = train_dataset.drop_duplicates(subset='sentence', keep=False)

In [27]:
modified_dataset.reset_index()

,index,id,sentence,subject_entity,object_entity,label
0,0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,'비틀즈','조지 해리슨',no_relation
1,1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,'민주평화당','대안신당',no_relation
2,2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,'광주FC','한국프로축구연맹',org:member_of
3,3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,'아성다이소','박정부',org:top_members/employees
4,4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,'요미우리 자이언츠','1967',no_relation
...,...,...,...,...,...,...
25375,32462,32462,심지어 전용 연습구장도 없어 훈련을 여러 지역을 돌아다니며 해야 할 정도로 팀 사정...,'방승환','공격수',no_relation
25376,32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,'이창진','외야수',per:title
25377,32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,'완도군','신우철',org:top_members/employees
25378,32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...",'JTBC','중앙홀딩스',no_relation
25379,32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,'화순군','구충곤',org:top_members/employees

In [30]:
label = modified_dataset['label']
mod_train, mod_eval = train_test_split(modified_dataset, test_size=0.2, shuffle=True, stratify=label, random_state=424)

In [33]:
dup_dataset = train_dataset[train_dataset.duplicated(['sentence'],keep=False)]

In [35]:
from collections import defaultdict
cnt = defaultdict(list)

for itr, vals in dup_dataset.iterrows():
    sents = vals['sentence']
    cnt[sents].append(itr)

In [40]:
double = defaultdict(list)
triple = defaultdict(list)
for s, idxs in cnt.items():
    if len(idxs)==2:
        double[s] = idxs
    elif len(idxs)==3:
        triple[s] = idxs
    else:
        raise NotImplementedError

In [52]:
val_ratio = 0.2
double_list = list(double.keys())
train_split = int((1-val_ratio)*len(double_list))
train_double_list = double_list[:train_split]
eval_double_list = double_list[train_split:]

triple_list = list(triple.keys())
train_split = int((1-val_ratio)*len(triple_list))
train_triple_list = triple_list[:train_split]
eval_triple_list = triple_list[train_split:]

In [66]:
train_list = train_double_list + train_triple_list
eval_list = eval_double_list + eval_triple_list

In [68]:
final_train_list = []
final_eval_list = []
for s in train_list:
    final_train_list.extend(cnt[s])
    
for s in eval_list:
    final_eval_list.extend(cnt[s])

In [74]:
dup_train = dup_dataset.loc[final_train_list]

In [73]:
dup_eval = dup_dataset.loc[final_eval_list]

In [75]:
train_df = pd.concat([mod_train, dup_train])
eval_df = pd.concat([mod_eval, dup_eval])

In [77]:
len(train_df) + len(eval_df)

32470

In [47]:
# {1: 25380, 2: 3179, 3: 244}
3179*2 + 244*3
(1-val_ratio)*len(double_list)

2543.2000000000003

In [19]:
from sklearn.model_selection import train_test_split
label = train_dataset['label']
train_df, eval_df = train_test_split(train_dataset, test_size=0.2, shuffle=True, stratify=label, random_state=424)

In [20]:
train_df

,id,sentence,subject_entity,object_entity,label
6667,6667,"최창권(崔彰權, 천주교 세례명 바오로, 1934년 10월 26일 ~ 2008년 1월...",'최창권','崔彰權',per:alternate_names
24635,24635,1991년부터 1995년까지 클리블랜드 인디언스의 미국 동부 및 라틴 아메리카 담당...,'클리블랜드 인디언스','1995',no_relation
2934,2934,AFC 챔피언스리그 2011 일본 클럽 가시마 앤틀러스와의 원정경기에서 프로무대 첫...,'가시마 앤틀러스','2011',no_relation
17968,17968,"곡성군이 지난 14일부터 17일까지 유근기 군수 주재로 부군수, 부서장, 부서별 전...",'곡성군','유근기',org:top_members/employees
8739,8739,삼성전자는 한국에너지공단에서 시행하는 ‘으뜸효율 가전제품 구매비용 환급사업’에 맞춰...,'삼성전자','가전제품',org:product
...,...,...,...,...,...
16230,16230,"《테일즈런너》는 대한민국의 라온 엔터테인먼트가 개발, 2005년에 출시된 캐주얼 온...",'라온 엔터테인먼트','대한민국',org:place_of_headquarters
25707,25707,"현대 학자들은 그리스 정교회가 그리스인의 민족적 정체성을 지키고, 그리스 사회가 발...",'그리스','정교회',org:members
21968,21968,"김영록 전라남도지사는 “각종 취약시설에 대해 코호트 수준으로 관리를 강화하고, 필요...",'김영록','전라남도지사',per:title
27476,27476,"5년동안의 극렬한 무력항쟁을 위해 의열단 지도부로써 거사를 기획하고, 단원확충과 교...",'의열단','김원봉',org:top_members/employees
2422,2422,김원효·심진화 부부는 지난 2011년에 결혼했다.,'김원효','심진화',per:spouse